<a class="nav-item nav-link" href="/main">Main Page <span class="sr-only">(current)</span></a>
<a class="nav-item nav-link"  href="/courses">Courses</a>
<a class="nav-item nav-link"  href="/database">Database</a>
<ul>
  <li>A Menu of Options</li>
  <li>Result? Visually a single table that switces based on chosen option </li>
</ul>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" data-target="#cheese"href="/database">Student</a>
    <a class="dropdown-item" data-target="#frenzy" href="/database">Cohorts</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
<div class="" id="cheese">
  <p>This is a test</p>
</div>
<div class="" id="frenzy">
  <p>This is another test</p>
</div>
