<ul>
  <li><a href="blog">Boop</a></li>
  <li><a data-toggle="modal" data-target="#signup" href="signup">Sign Up</a></li>
  <li><a data-toggle="modal" data-target="#login" href="login">Log In</a></li>
</ul>
<h1>Home</h1>
<p>This is where I'll put my sign up/login</p>
<ul>
  <li>Site Name:</li>
  <li>Use modal from rumblr project </li>
  <li>We using gem datagrid boyz</li>
</ul>
<a style="color:purple"href="/pages/about">
  <div class="circle">
    <p class="button_text">Why?</p>
  </div>
</a>

<!--Sign Up -->
<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Join Us!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form style="padding-left:25%" class="" action="/signup" method="POST">
          <input required style="padding:5px" type="text" name="first_name" value="" placeholder="First Name"> <br>
          <input required style="padding:5px" type="text" name="last_name" value="" placeholder="Last Name"> <br>
          <input required style="padding:5px width:188px" type="date" name="birth_date" value="" placeholder="mm/dd/yy" max="2000-12-31"> <br>
          <input required style="padding:5px" type="text" name="email" value="" placeholder="Email"> <br>
          <input required style="padding:5px" type="text" name="username" value="" placeholder="Username"> <br>
          <input required style="padding:5px" type="password" name="password" value="" placeholder="Password"> <br> <br>
          <button type="submit" name="button">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--End -->

<!--Login  -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Welcome Back!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form role="form" class="form-horizontal">
                <div class="form-group">
                  <label for="username" class="col-sm-2 control-label">Username</label>
                  <div class="col-sm-3">
                    <input type="text" id="username" name="username" class="form-control" />
                  </div>
                  <div class="col-sm-7"></div>
                </div>
                <div class="form-group">
                  <label for="password" class="col-sm-2 control-label">Password</label>
                  <div class="col-sm-3">
                    <input type="password" id="password" name="password" class="form-control" />
                  </div>
                  <div class="col-sm-7"></div>
                </div>

                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="Login" />
                    <input type="button" value="Cancel" />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
