<h1>Home</h1>
<p>This is where I'll put my sign up/login</p>
<ul>
  <li>Site Name:</li>
  <li>Use modal from rumblr project </li>
  <li>We using gem datagrid boyz</li>
</ul>
<a style="color:purple"href="/pages/about">
  <div class="circle">
    <p class="button_text">Why?</p>
  </div>
</a>
