<a class="nav-item nav-link" href="/main">Main Page <span class="sr-only">(current)</span></a>
<a class="nav-item nav-link"  href="/courses">Courses</a>
<a class="nav-item nav-link"  href="/database">Database</a>
<h3>Create a Course!</h3>
<a class="btn btn-success" href="/courses">Courses</a>
<h3>Check the Database!</h3>
<a class="btn btn-info" href="/database">Database</a>
