.circle {
  border-style: solid;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
}
a {
  text-decoration: none;
}
.button_text {
  padding-top: 20px;
  vertical-align: middle;
}
